<%- include('partials/head.ejs') %>

    <main class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-3">About us</h1>
                    <p>Welcome to <strong>Dei Book Store</strong>, your one-stop shop for all things books. We are a team of book lovers who believe that books have the power to change lives and we're on a mission to make them accessible to everyone.</p>
                    <p>Our online store offers a carefully curated selection of books across various genres, including fiction, non-fiction, children's books, and more. Our aim is to make it easy for you to find your next favorite read, whether you're looking for a classic or a new release.</p>
                    <p>We believe in the power of community and strive to create a space where book lovers can come together to share their love for reading. Our blog features book reviews, author interviews, and other literary content to help you discover new books and authors.</p>
                    <p>Thank you for choosing [Book Store Name] and we hope you find your next favorite book here. Happy reading!</p>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/foot.ejs') %>