<%- include('partials/head.ejs') %>

    <main class="gallery mt-3">
        <div class="container">
            <div class="row">
                <h4 class="py-4 text-center">Gallery of Books :)</h4>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://media.karousell.com/media/photos/products/2018/11/14/12_rules_for_life_by_jordan_b_peterson_1542208839_297edf6b.jpg);"></div>
                    <h6>12 Rules for Life</h6>
                    <p class="m-0" style="font-size: 12px;">By: Dr Jordan Peterson</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://i.ytimg.com/vi/ALOCYwBF6TA/maxresdefault.jpg);"></div>
                    <h6>Beyond Order</h6>
                    <p class="m-0" style="font-size: 12px;">By: Dr Jordan Peterson</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://visionhelp.files.wordpress.com/2021/03/img_7280-1.jpg?w=480);"></div>
                    <h6>A Thousand Brains</h6>
                    <p class="m-0" style="font-size: 12px;">By: Jeff Hawkins</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://pbs.twimg.com/media/EwBKCwIU8AEI-6C?format=jpg&name=4096x4096);"></div>
                    <h6>The Code Breaker</h6>
                    <p class="m-0" style="font-size: 12px;">By: Walter Isaacson</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://www.jmichaelsbooks.com/pictures/medium/900587.jpg);"></div>
                    <h6>Energy and Civilization</h6>
                    <p class="m-0" style="font-size: 12px;">By: Vaclav Smil</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://images.tokopedia.net/img/cache/500-square/VqbcmM/2022/2/4/8ebbc4ae-3735-49ca-ab71-54d8b670d4c3.jpg);"></div>
                    <h6>How the World Really Works</h6>
                    <p class="m-0" style="font-size: 12px;">By: Vaclav Smil</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://educator.jewishedproject.org/sites/default/files/2020-07/mindset%20the%20new%20psychology%20of%20success.jpeg);"></div>
                    <h6>Mindset: The new Psychology of Success</h6>
                    <p class="m-0" style="font-size: 12px;">By: Carol Dweck</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://media.karousell.com/media/photos/products/2020/12/29/numbers_dont_lie_by_vaclav_smi_1609223761_358623a0.jpg);"></div>
                    <h6>Numbers Don't Lie</h6>
                    <p class="m-0" style="font-size: 12px;">By: Vaclav Smil</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://media.karousell.com/media/photos/products/2020/02/19/why_nations_fail_by_daron_acemoglu_and_james_robinson_1582089107_4ffb7869_progressive.jpg);"></div>
                    <h6>Why Nations Fail</h6>
                    <p class="m-0" style="font-size: 12px;">By: Daron Acemoglu and James A. Robinson</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                    <div class="gallery-photo mb-1" style="background-image: url(https://media.karousell.com/media/photos/products/2022/10/8/why_we_sleep__matthew_walker_1665195300_f469a7f2.jpg);"></div>
                    <h6>Why We Sleep</h6>
                    <p class="m-0" style="font-size: 12px;">By: Matthew Walker</p>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/foot.ejs') %>