<%- include('partials/head.ejs') %>

    <main class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                  <% if (message) { %>
                    <div id="message" class="p-3 my-2 bg-success text-white rounded"><%= message%> 
                        <div data-bs-theme="dark" class="d-inline float-end"><button type="button" class="btn-close" onclick="document.getElementById('message').classList.add('d-none')" aria-label="Close"></button></div>
                    </div>
                  <% } %>
                    <div class="p-3">
                        <h4 class="text-center">Create new account</h4>
                        <form class="py-3" action="/user/register" method="POST">
                            <div class="mb-3">
                              <label for="username" class="form-label">Username</label>
                              <input type="text" class="form-control" id="username" name="username" aria-describedby="nameHelp">
                            </div>
                            <div class="mb-3">
                              <label for="email" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-success">Register</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/foot.ejs') %>