<%- include('partials/head.ejs') %>

    <main class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <div class="my-100 text-center">
                        <h1 class="mb-5">You need to Login or Register to access this page.</h1>
                        <a href="/user/login" class="btn btn-primary me-2">Login</a>
                        <a href="/user/register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/foot.ejs') %>